# project
## idea
**.idea/
## data directory
*/data/

# python
## pyc file
**.pyc
## conf
python/settings.conf

# R
## History files
*/.Rhistory
*/.Rapp.history
## Example code in package build process
*-Ex.R
## RStudio files
*/.Rproj.user/
*/.RData

.Rproj.user
